<section class="p-b-50 p-t-50 bg-master-darkest">
    <div class="container p-b-50 p-t-50">
        <div class="col-md-12">
            <h1 class="text-center text-white p-r-50 p-l-50" ">find <b>Scholarship</b> that fits you</h1>
        </div>
    </div>
</section>
<section class="p-b-40 p-t-40">
    <div class="container">
        <div class="container no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Scholarship filter</div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form>
                        <div class="col-sm-4">
                            <div class="m-t-10" role="form">
                                <div class="form-group form-group-default form-group-default-select2 required">
                                    <label class="">Asal beasiswa</label>
                                    <select class="full-width" data-placeholder="Select Country" data-init-plugin="select2">
                                        <option value="AK">Dalam Negeri</option>
                                        <option value="HI">Luar Negeri</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="m-t-10" role="form">
                                <div class="form-group form-group-default form-group-default-select2 required">
                                    <label class="">Jenis Beasiswa</label>
                                    <select class="full-width" data-placeholder="Select Country" data-init-plugin="select2">
                                        <option value="AK">S1</option>
                                        <option value="HI">S2</option>
                                        <option value="CA">Half Tuition</option>
                                        <option value="NV">Full Tuition</option>
                                        <option value="OR">Student Exchange</option>
                                        <option value="WA">Join Research</option>
                                        <option value="WA">Short Course</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="" role="form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default required">
                                            <label>IPK</label>
                                            <input type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Semester</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    
</section>

<section>

    <div class="container-fostrap">
    <button ng-if="admin" type="button" class="btn btn-danger fa fa-plus" ng-click="open($event);"></button>
    <div class="row"></div>
 <div class="row">    
        <div class="col-xs-8 col-xs-offset-2">
		    <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#contains">IPK</a></li>
                      <li><a href="#its_equal">Jurusan</a></li>
                      <li><a href="#greather_than">Semester</a></li>
                     
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">         
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
	</div>
    <br/>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4" ng-repeat="(key,c) in products">
                            <div class="card">
                                <a class="img-card" href="#/scholarship/{{key}}">
                                <img src="{{c.photopath}}" />
                              </a>
                              <div class="card-read-more dropup" style="text-align: left;">
                                    <a ng-if="admin" href="forecast" class="btn" data-toggle="dropdown"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>

                                        <ul class="dropdown-menu">
                                        <li><a style="cursor: pointer;" ng-click="open(key,c);">Edit</a></li>
                                        <li><a style="cursor: pointer;" ng-click="remove(key);">Remove</a></li>
                                      </ul>

                                </div>
                                <div class="card-content">

                                    <h4 class="card-title">
                                        <a href="#/scholarship/{{key}}"> {{c.nama}}
                                      </a>
                                    </h4>
                                    <p class="">
                                        {{c.deskripsi | limitTo:120}}
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="" class="btn btn-link btn-block">

                                    </a>
                                </div>
                                <div class="card-read-more">
                                    <a href="" class="btn btn-link btn-block">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</section>

<section class="p-b-40 p-t-40">
    <div class="container">
        <div class="row">
            <div class="col-md-4" ng-repeat="(key,c) in products">
                <div class="timeline-block" style="margin-top: 20px;">
                    <div class="timeline-content">
                        <div class="card share full-width">
                            <div class="card-header clearfix">
                                <div class="user-pic">
                                    <img alt="Profile Image" width="33" height="33" src="{{c.photopath}}">
                                </div>
                                <a href="#/scholarship/{{key}}"><h5>{{c.nama}}</h5></a>
                            </div>
                            <div class="card-description">
                                <p>{{c.deskripsi | limitTo:120}}... <a href="#/scholarship/{{key}}">See more</a></p>
                                <div class="via">{{c.instansi}}</div>
                            </div>
                            <div class="card-content">
                                <ul class="buttons ">
                                    <li>
                                        <a href=""><i class="fa fa-expand"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-heart-o"></i>
                                        </a>
                                    </li>
                                </ul>
                                <img alt="Social post" src="{{c.bgphotopath}}">
                            </div>
                            <div class="card-footer clearfix">
                                <div class="time">
                                <h6>Due Date</h6>
                                </div>
                                <ul class="reactions">
                                    <li><h6><span class="location semi-bold"><i class="fa fa-clock-o"></i> {{c.duedate}}</span></h6></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>