<div class="modal-header">

            <h3 class="modal-title">Update Beasiswa!</h3>
        </div>
        <div class="modal-body">
           <!--  <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul> -->
            <!-- Selected: <b>{{ selected.item }}</b> -->
              <form name="rama" novalidate>
            <label for="">Judul berita</label>
            <input class="form-control" ng-model="bea.nama" placeholder="Nama berita">
            <label for="">Deskripsi berita</label>
            <textarea class="form-control" ng-model="bea.deskripsi" placeholder="Isi berita"></textarea>
            <label for="">Foto header berita</label>
            <input type="file" file-model="bea.photopath" placeholder="Foto berita"><br>
            <label for="">Source</label>
            <input class="form-control" ng-model="bea.source" placeholder="Nama sumber">

  </form>


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok(bea)">{{buttonText}}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
